<div class="p-8 flex-column">
  <div class="full-with end-start-center">
    <button nz-button nzType="primary" (click)="setMenu()">
      <nz-icon nzType="save" nzTheme="outline" />
    </button>
  </div>
  <div class="flex-1">
    <nz-skeleton [nzLoading]="isSpinning">
      <nz-tree
        #nzTreeComponent
        [nzData]="nodes"
        nzCheckable
        [nzAsyncData]="true"
        [nzShowIcon]="true"
        (nzClick)="nzClick($event)"
        (nzContextMenu)="nzClick($event)"
        (nzCheckboxChange)="nzCheck($event)"
        (nzExpandChange)="nzCheck($event)"
      ></nz-tree>
    </nz-skeleton>
  </div>
</div>
