<form nz-form nzLayout="vertical" [formGroup]="addEditForm">
  <div nz-row [nzGutter]="16">
    @if (versions().length) {
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label>已发布版本</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="选择版本查看" [ngModel]="selectedVersion" [ngModelOptions]="{ standalone: true }" (ngModelChange)="loadVersion($event)">
              @for (item of versions(); track item.version) {
                <nz-option [nzLabel]="'v' + item.version" [nzValue]="item.version" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    }
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired>物模型 JSON</nz-form-label>
        <nz-form-control nzErrorTip="请填写 schemaJson">
          <textarea formControlName="schemaJson" nz-input rows="14" placeholder="properties / events / services"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>变更说明</nz-form-label>
        <nz-form-control>
          <input formControlName="changelog" nz-input placeholder="本次发布说明，确定后会生成新版本" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
