<app-page-header [pageHeaderInfo]="listPageHeader" />

<div class="normal-table-wrap permission-list-wrap">
  <nz-card class="m-b-10" nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }">
    <form nz-form>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>关键字</nz-form-label>
            <nz-form-control>
              <input name="keyword" nz-input placeholder="名称 / 编码 / 模块 / API 路径" [(ngModel)]="keyword" (keyup.enter)="search()" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="text-right p-0 m-b-10" nz-col [nzLg]="16" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <button nz-button nzType="primary" (click)="search()">
            <i nz-icon nzType="search"></i>
            搜索
          </button>
          <button class="m-l-15" nz-button (click)="resetSearch()">
            <i nz-icon nzType="close-circle"></i>
            重置
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <nz-card nzHoverable nzTitle="权限列表" [nzBordered]="false" [nzExtra]="listExtra">
    <ng-template #listExtra>
      <button nz-button nzType="primary" (click)="openCreate()">
        <i nz-icon nzType="plus"></i>
        新增权限
      </button>
      <button class="m-l-8" nz-button (click)="reloadPage()">
        <i nz-icon nzType="reload"></i>
        刷新
      </button>
    </ng-template>

    <nz-table
      nzSize="middle"
      [nzData]="pageList()"
      [nzFrontPagination]="false"
      [nzLoading]="loading() || binding()"
      [nzPageIndex]="pageIndex()"
      [nzPageSize]="pageSize()"
      [nzPageSizeOptions]="[10, 20, 50]"
      [nzShowSizeChanger]="true"
      [nzTotal]="total()"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    >
      <thead>
        <tr>
          <th nzWidth="72px">ID</th>
          <th>权限名称</th>
          <th>编码</th>
          <th>模块</th>
          <th nzWidth="128px">菜单</th>
          <th nzWidth="128px">接口</th>
          <th nzWidth="120px">操作</th>
        </tr>
      </thead>
      <tbody>
        @for (row of pageList(); track row.id) {
          <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.code }}</td>
            <td>{{ row.module }}</td>
            <td>
              <button
                type="button"
                class="count-badge count-badge--menu"
                [class.count-badge--empty]="row.menuCount === 0"
                nz-tooltip
                nzTooltipTitle="点击配置关联菜单"
                (click)="bindMenus(row)"
              >
                <span class="count-badge__text">{{ row.menuCount }} 个菜单</span>
                <i class="count-badge__icon" nz-icon nzType="setting"></i>
              </button>
            </td>
            <td>
              <button
                type="button"
                class="count-badge count-badge--api"
                [class.count-badge--empty]="row.apiCount === 0"
                nz-tooltip
                [nzTooltipTitle]="row.apiCount === 0 ? '未关联接口，鉴权不生效；点击配置' : '点击配置关联接口'"
                (click)="bindApis(row)"
              >
                <span class="count-badge__text">
                  @if (row.apiCount === 0) {
                    未关联
                  } @else {
                    {{ row.apiCount }} 个接口
                  }
                </span>
                <i class="count-badge__icon" nz-icon nzType="setting"></i>
              </button>
            </td>
            <td>
              <span class="operate-text" (click)="openEdit(row)">编辑</span>
              <span class="operate-text" (click)="remove(row)">删除</span>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>
