<form nz-form nzLayout="vertical" [formGroup]="addEditForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired>标题</nz-form-label>
        <nz-form-control nzErrorTip="请输入标题">
          <input formControlName="title" nz-input placeholder="演示数据标题" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>内容</nz-form-label>
        <nz-form-control>
          <textarea formControlName="content" nz-input placeholder="演示数据内容" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
