<div class="register-form-wrap">
  <h3 class="title">{{ 'login.registerTitle' | translate }}</h3>
  <form class="login-form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'login.pleaseEnterEmail' | translate">
        <input type="text" formControlName="name" nz-input nzSize="large" [placeholder]="'login.email' | translate" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'login.pleaseEnterPassword' | translate">
        <input type="password" formControlName="password" nz-input nzSize="large" [placeholder]="'login.passwordHint' | translate" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'login.pleaseConfirmPassword' | translate">
        <input type="text" formControlName="name" nz-input nzSize="large" [placeholder]="'login.confirmPassword' | translate" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'login.pleaseEnterPhone' | translate">
        <nz-input-wrapper>
          <nz-select nzInputAddonBefore style="width: 70px" [ngModel]="'86'" [ngModelOptions]="{ standalone: true }">
            <nz-option nzLabel="+86" nzValue="86"></nz-option>
            <nz-option nzLabel="+87" nzValue="87"></nz-option>
          </nz-select>
          <input type="text" formControlName="name" nz-input nzSize="large" [placeholder]="'login.phone' | translate" />
        </nz-input-wrapper>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row nzJustify="space-between">
      <nz-form-control class="flex-1" nz-col style="max-width: 65%" [nzErrorTip]="'login.pleaseEnterVerificationCode' | translate" [nzSm]="16" [nzXs]="15">
        <input type="password" formControlName="password" nz-input nzSize="large" [placeholder]="'login.verificationCode' | translate" />
      </nz-form-control>
      <button class="p-0" nz-button nz-col nzSize="large" nzType="default" [nzSm]="7" [nzXs]="7">{{ 'login.getVerificationCode' | translate }}</button>
    </nz-form-item>

    <div class="login-form-margin" nz-row nzAlign="middle" nzJustify="space-between">
      <div nz-col [nzSpan]="12">
        <button class="login-form-button login-form-margin" nz-button nzSize="large" nzType="primary">{{ 'login.registerBtn' | translate }}</button>
      </div>
      <div class="text-right" nz-col [nzSpan]="9">
        <a class="password-login" routerLink="/login/login-form">{{ 'login.useExistingAccountLogin' | translate }}</a>
      </div>
    </div>
  </form>
</div>
