<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="label" nzRequired [nzSm]="4" [nzXs]="24">字典名称</nz-form-label>
    <nz-form-control nzErrorTip="label" [nzSm]="18" [nzXs]="24">
      <input id="label" name="label" formControlName="label" nz-input placeholder="label"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="value" nzRequired [nzSm]="4" [nzXs]="24">字典值</nz-form-label>
    <nz-form-control nzErrorTip="value" [nzSm]="18" [nzXs]="24">
      <input id="value" name="value" formControlName="value" nz-input placeholder="value"/>
    </nz-form-control>
  </nz-form-item>
</form>
